activador-workflows.json
{
  "name": "Activador de workflows",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "activar-workflow",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-activar",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "activar-workflow",
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const id = $input.first().json.body?.workflowId || $input.first().json.query?.id;\nconst nombre = $input.first().json.body?.nombre || 'desconocido';\n\nif (!id) throw new Error('Falta workflowId en el body');\n\nreturn { workflowId: id, nombre, log: `Activando: ${nombre} (${id})` };"
      },
      "id": "validar-id",
      "name": "Validar ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "activate",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.workflowId }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "activar",
      "name": "Activar workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "n8nApi": {
          "id": "meI5aPZ2i7ntOQqN",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: 'ok',\n  workflowId: $json.workflowId,\n  activado: true,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "respuesta",
      "name": "Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "content": "## ✅ Workflow activado\n\n| Campo | Valor |\n|---|---|\n| ID | {{ $json.workflowId }} |\n| Hora | {{ $json.timestamp }} |\n\nEl workflow ya está activo y recibiendo webhooks.",
        "height": 200
      },
      "id": "responder-webhook",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar ID": {
      "main": [
        [
          {
            "node": "Activar workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activar workflow": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [],
  "versionId": "1",
  "id": "activador-workflows"
}
