activador-n8n.json
{
  "name": "Activador",
  "id": "activador-n8n",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "activar",
        "options": {}
      },
      "id": "webhook-activar",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "activar",
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst id = body.workflowId || body.id;\nif (!id) throw new Error('Falta workflowId en el body');\nreturn { workflowId: id, log: `Activando: ${id}` };"
      },
      "id": "validar-id",
      "name": "Validar ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "activate",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.workflowId }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "activar-wf",
      "name": "Activar workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "n8nApi": {
          "id": "meI5aPZ2i7ntOQqN",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ✅ Activado\n\nWorkflow **{{ $json.workflowId }}** activado correctamente.",
        "height": 150
      },
      "id": "responder-activar",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar ID": {
      "main": [
        [
          {
            "node": "Activar workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activar workflow": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [],
  "versionId": "1"
}
