chat-simple.json
{
  "name": "Chat Simple",
  "id": "4Y8hKbhdAa5hv5MW",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "estado",
              "value": "procesado"
            }
          ]
        },
        "options": {}
      },
      "id": "set-node",
      "name": "Agregar estado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.body?.mensaje || $input.first().json.query?.mensaje || 'Hola';\nconst estado = $input.first().json.estado || 'sin estado';\n\nreturn {\n  respuesta: `Recibí tu mensaje: \"${msg}\". Estado: ${estado}. ¡El chat funciona! 🤖`,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "code-node",
      "name": "Procesar mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "content": "## Chat Response\n\n{{ $json.respuesta }}\n\n---\n*{{ $json.timestamp }}*",
        "height": 200
      },
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Agregar estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar estado": {
      "main": [
        [
          {
            "node": "Procesar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar mensaje": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "versionId": "2",
  "active": false,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": []
}
