Creador de workflows.json
{
  "name": "Creador de workflows",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crear-workflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0b2d409b-917a-417f-a6c7-11bea18802d9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "crear-workflow",
      "position": [
        -48,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst archivos = body?.head_commit?.added || [];\n\n// Solo procesar si se crearon archivos JSON nuevos\nconst nuevos = archivos.filter(f => f.endsWith('.json'));\n\nif (nuevos.length === 0) {\n  return { procesar: false, log: 'No hay archivos JSON nuevos en este push' };\n}\n\nreturn {\n  procesar: true,\n  archivo: nuevos[0],\n  log: `Nuevo workflow detectado: ${nuevos[0]}`,\n  owner: body?.repository?.owner?.name,\n  repo: body?.repository?.name\n};"
      },
      "id": "ccec759f-5f36-4ebc-8976-a443d8cda4cc",
      "name": "Filtrar nuevos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ \n(() => {\n  const wf = JSON.parse(JSON.stringify($json));\n  delete wf._github_sha; \n  wf.active = false;\n  return JSON.stringify(wf);\n})() \n}}\n",
        "requestOptions": {}
      },
      "id": "001f00b0-7e39-421f-a908-92840f54a9c1",
      "name": "Crear workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1104,
        -16
      ],
      "credentials": {
        "n8nApi": {
          "id": "meI5aPZ2i7ntOQqN",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: 'sin_nuevos',\n  mensaje: 'No hay archivos JSON nuevos en este push.',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "1e3f9dce-d7af-455e-9544-dbbc3fac4d2d",
      "name": "Sin nuevos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6a7ce7a0-76dc-4549-b931-1b69a4b834f7",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1904,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e150b7c-2067-4144-96ef-4ae6bc27aa36",
              "leftValue": "={{ $json.procesar }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        16
      ],
      "id": "5c82f2fe-a59b-4c63-8a18-4c916d757501",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const wf = $input.first().json;\nconst id = wf.id || 'sin-id';\nreturn { ...$json, nuevo_id: id, log: `ID: ${id}` };"
      },
      "id": "a5796beb-d78f-46fb-8cd7-37a5a3172a18",
      "name": "Extraer ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -16
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/contents/' + encodeURIComponent($node['Filtrar nuevos'].json.archivo) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.githubPayload) }}",
        "options": {}
      },
      "id": "5096e453-fd80-42fd-99b0-4856ae2f5972",
      "name": "Actualizar ID en GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1712,
        -16
      ],
      "credentials": {
        "githubApi": {
          "id": "4FiLSMPTKoxvHLNE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/contents/' + encodeURIComponent($node['Filtrar nuevos'].json.archivo) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "48629cda-e84c-4402-957d-d50d74d04fb7",
      "name": "Get File from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        752,
        -16
      ],
      "credentials": {
        "githubApi": {
          "id": "4FiLSMPTKoxvHLNE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst base64Content = $input.first().json.content;\nconst sha = $input.first().json.sha;\n\n// Base64 decode\nconst buff = Buffer.from(base64Content, 'base64');\nconst jsonStr = buff.toString('utf8');\nconst wfObj = JSON.parse(jsonStr);\n\n// Keep sha in the item for later use\nreturn {\n  ...wfObj,\n  _github_sha: sha\n};\n"
      },
      "id": "82398161-4986-4401-a156-fd72ecbd57c4",
      "name": "Parse Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const wfObj = JSON.parse(JSON.stringify($node['Parse Workflow'].json));\nconst sha = wfObj._github_sha;\ndelete wfObj._github_sha;\n\nconst nuevo_id = $node['Extraer ID'].json.nuevo_id;\n\n// Creamos un nuevo objeto para forzar el orden exacto de las propiedades\nconst orderedWf = {};\n\n// 1. Ponemos 'name' primero (si existe)\nif (wfObj.name !== undefined) {\n  orderedWf.name = wfObj.name;\n}\n\n// 2. Ponemos 'id' justo debajo de 'name'\norderedWf.id = nuevo_id;\n\n// 3. Copiamos el resto de las propiedades debajo\nfor (const key in wfObj) {\n  if (key !== 'name' && key !== 'id') {\n    orderedWf[key] = wfObj[key];\n  }\n}\n\n// Convertimos a texto (ahora stringify respetará el orden)\nconst contentStr = JSON.stringify(orderedWf, null, 2);\nconst contentBase64 = Buffer.from(contentStr).toString('base64');\n\nreturn {\n  githubPayload: {\n    message: 'fix: asigna ID real ' + nuevo_id,\n    sha: sha,\n    content: contentBase64\n  }\n};\n"
      },
      "id": "09bd7eed-00f1-4f2b-b8f0-c29d5496cff3",
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        -16
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "p8086.crisdev.online",
            "user-agent": "GitHub-Hookshot/debee26",
            "content-length": "8481",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "140.82.115.157",
            "cf-ipcountry": "US",
            "cf-ray": "a13cdb891f1955eb-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "1a5d64bd-5da8-4a84-91d8-9973196fc2a7",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-forwarded-for": "140.82.115.157",
            "x-forwarded-proto": "https",
            "x-github-delivery": "8b54e754-7477-11f1-818b-70f18f17862c",
            "x-github-event": "push",
            "x-github-hook-id": "647385932",
            "x-github-hook-installation-target-id": "1282935813",
            "x-github-hook-installation-target-type": "repository"
          },
          "params": {},
          "query": {},
          "body": {
            "ref": "refs/heads/main",
            "before": "9174f84783e7bb70cc7590ab2fc08f87fe4bd631",
            "after": "acc6855a97c8a714976b9fddc316a3117e657fd1",
            "repository": {
              "id": 1282935813,
              "node_id": "R_kgDOTHgMBQ",
              "name": "workflows_crisdev",
              "full_name": "cristianDev-cmd/workflows_crisdev",
              "private": false,
              "owner": {
                "name": "cristianDev-cmd",
                "email": "alc.cris.dev@gmail.com",
                "login": "cristianDev-cmd",
                "id": 265125736,
                "node_id": "U_kgDOD81_aA",
                "avatar_url": "https://avatars.githubusercontent.com/u/265125736?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/cristianDev-cmd",
                "html_url": "https://github.com/cristianDev-cmd",
                "followers_url": "https://api.github.com/users/cristianDev-cmd/followers",
                "following_url": "https://api.github.com/users/cristianDev-cmd/following{/other_user}",
                "gists_url": "https://api.github.com/users/cristianDev-cmd/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/cristianDev-cmd/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/cristianDev-cmd/subscriptions",
                "organizations_url": "https://api.github.com/users/cristianDev-cmd/orgs",
                "repos_url": "https://api.github.com/users/cristianDev-cmd/repos",
                "events_url": "https://api.github.com/users/cristianDev-cmd/events{/privacy}",
                "received_events_url": "https://api.github.com/users/cristianDev-cmd/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "html_url": "https://github.com/cristianDev-cmd/workflows_crisdev",
              "description": "Repositorio de workflows de N8N de crisdev.online",
              "fork": false,
              "url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev",
              "forks_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/forks",
              "keys_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/keys{/key_id}",
              "collaborators_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/collaborators{/collaborator}",
              "teams_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/teams",
              "hooks_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/hooks",
              "issue_events_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/issues/events{/number}",
              "events_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/events",
              "assignees_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/assignees{/user}",
              "branches_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/branches{/branch}",
              "tags_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/tags",
              "blobs_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/blobs{/sha}",
              "git_tags_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/tags{/sha}",
              "git_refs_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/refs{/sha}",
              "trees_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/trees{/sha}",
              "statuses_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/statuses/{sha}",
              "languages_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/languages",
              "stargazers_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/stargazers",
              "contributors_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/contributors",
              "subscribers_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/subscribers",
              "subscription_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/subscription",
              "commits_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/commits{/sha}",
              "git_commits_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/commits{/sha}",
              "comments_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/comments{/number}",
              "issue_comment_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/issues/comments{/number}",
              "contents_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/contents/{+path}",
              "compare_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/compare/{base}...{head}",
              "merges_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/merges",
              "archive_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/{archive_format}{/ref}",
              "downloads_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/downloads",
              "issues_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/issues{/number}",
              "pulls_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/pulls{/number}",
              "milestones_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/milestones{/number}",
              "notifications_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/notifications{?since,all,participating}",
              "labels_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/labels{/name}",
              "releases_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/releases{/id}",
              "deployments_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/deployments",
              "created_at": 1782645343,
              "updated_at": "2026-06-30T11:28:56Z",
              "pushed_at": 1782819220,
              "git_url": "git://github.com/cristianDev-cmd/workflows_crisdev.git",
              "ssh_url": "git@github.com:cristianDev-cmd/workflows_crisdev.git",
              "clone_url": "https://github.com/cristianDev-cmd/workflows_crisdev.git",
              "svn_url": "https://github.com/cristianDev-cmd/workflows_crisdev",
              "homepage": null,
              "size": 37,
              "stargazers_count": 0,
              "watchers_count": 0,
              "language": null,
              "has_issues": true,
              "has_projects": true,
              "has_downloads": true,
              "has_wiki": false,
              "has_pages": false,
              "has_discussions": false,
              "forks_count": 0,
              "mirror_url": null,
              "archived": false,
              "disabled": false,
              "open_issues_count": 0,
              "license": null,
              "allow_forking": true,
              "is_template": false,
              "web_commit_signoff_required": false,
              "has_pull_requests": true,
              "pull_request_creation_policy": "all",
              "topics": [],
              "visibility": "public",
              "forks": 0,
              "open_issues": 0,
              "watchers": 0,
              "default_branch": "main",
              "stargazers": 0,
              "master_branch": "main"
            },
            "pusher": {
              "name": "cristianDev-cmd",
              "email": "alc.cris.dev@gmail.com"
            },
            "forced": false,
            "sender": {
              "login": "cristianDev-cmd",
              "id": 265125736,
              "node_id": "U_kgDOD81_aA",
              "avatar_url": "https://avatars.githubusercontent.com/u/265125736?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/cristianDev-cmd",
              "html_url": "https://github.com/cristianDev-cmd",
              "followers_url": "https://api.github.com/users/cristianDev-cmd/followers",
              "following_url": "https://api.github.com/users/cristianDev-cmd/following{/other_user}",
              "gists_url": "https://api.github.com/users/cristianDev-cmd/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/cristianDev-cmd/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/cristianDev-cmd/subscriptions",
              "organizations_url": "https://api.github.com/users/cristianDev-cmd/orgs",
              "repos_url": "https://api.github.com/users/cristianDev-cmd/repos",
              "events_url": "https://api.github.com/users/cristianDev-cmd/events{/privacy}",
              "received_events_url": "https://api.github.com/users/cristianDev-cmd/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            },
            "created": false,
            "deleted": false,
            "base_ref": null,
            "compare": "https://github.com/cristianDev-cmd/workflows_crisdev/compare/9174f84783e7...acc6855a97c8",
            "commits": [
              {
                "id": "acc6855a97c8a714976b9fddc316a3117e657fd1",
                "tree_id": "250ef35b14cb6ce1a328d3e7d8132f5d5cfc4469",
                "distinct": true,
                "message": "feat: crear prueba 13",
                "timestamp": "2026-06-30T08:33:38-03:00",
                "url": "https://github.com/cristianDev-cmd/workflows_crisdev/commit/acc6855a97c8a714976b9fddc316a3117e657fd1",
                "author": {
                  "name": "Cristian Alcantara",
                  "email": "alc.cris.dev@gmail.com",
                  "date": "2026-06-30T08:33:25-03:00",
                  "username": "cristianDev-cmd"
                },
                "committer": {
                  "name": "Cristian Alcantara",
                  "email": "alc.cris.dev@gmail.com",
                  "date": "2026-06-30T08:33:38-03:00",
                  "username": "cristianDev-cmd"
                },
                "added": [
                  "prueba 13.json"
                ],
                "removed": [],
                "modified": []
              }
            ],
            "head_commit": {
              "id": "acc6855a97c8a714976b9fddc316a3117e657fd1",
              "tree_id": "250ef35b14cb6ce1a328d3e7d8132f5d5cfc4469",
              "distinct": true,
              "message": "feat: crear prueba 13",
              "timestamp": "2026-06-30T08:33:38-03:00",
              "url": "https://github.com/cristianDev-cmd/workflows_crisdev/commit/acc6855a97c8a714976b9fddc316a3117e657fd1",
              "author": {
                "name": "Cristian Alcantara",
                "email": "alc.cris.dev@gmail.com",
                "date": "2026-06-30T08:33:25-03:00",
                "username": "cristianDev-cmd"
              },
              "committer": {
                "name": "Cristian Alcantara",
                "email": "alc.cris.dev@gmail.com",
                "date": "2026-06-30T08:33:38-03:00",
                "username": "cristianDev-cmd"
              },
              "added": [
                "prueba 13.json"
              ],
              "removed": [],
              "modified": []
            }
          },
          "webhookUrl": "https://p8086.crisdev.online/webhook/crear-workflow",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtrar nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar nuevos": {
      "main": [
        [
          {
            "node": "Get File from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear workflow": {
      "main": [
        [
          {
            "node": "Extraer ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sin nuevos": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Sin nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer ID": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar ID en GitHub": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Actualizar ID en GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File from GitHub": {
      "main": [
        [
          {
            "node": "Parse Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Workflow": {
      "main": [
        [
          {
            "node": "Crear workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a276f4a9-4b76-4639-84df-e747c6dbac17",
  "meta": {
    "instanceId": "5bdfb1904abb29d033398c291e21acd0dd5d174d225213ee5d966130bc044c53"
  },
  "nodeGroups": [],
  "id": "kSySWusKAztlqK6r",
  "tags": []
}