Creador de workflows.json
{
  "name": "Creador de workflows",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crear-workflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e1384da6-ec1d-48b4-a553-29e601ca55ff",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "crear-workflow",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst archivos = body?.head_commit?.added || [];\n\n// Solo procesar si se crearon archivos JSON nuevos\nconst nuevos = archivos.filter(f => f.endsWith('.json'));\n\nif (nuevos.length === 0) {\n  return { procesar: false, log: 'No hay archivos JSON nuevos en este push' };\n}\n\nreturn {\n  procesar: true,\n  archivo: nuevos[0],\n  log: `Nuevo workflow detectado: ${nuevos[0]}`,\n  owner: body?.repository?.owner?.name,\n  repo: body?.repository?.name\n};"
      },
      "id": "31e778f8-badf-462d-9e52-1f80fb0b47c3",
      "name": "Filtrar nuevos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ \n(() => {\n  const wf = JSON.parse(JSON.stringify($json));\n  delete wf._github_sha; \n  wf.active = false;\n  return wf;\n})() \n}}",
        "requestOptions": {}
      },
      "id": "7281479b-6278-41f4-8483-c938bcc86de1",
      "name": "Crear workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1150,
        0
      ],
      "credentials": {
        "n8nApi": {
          "id": "meI5aPZ2i7ntOQqN",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: 'sin_nuevos',\n  mensaje: 'No hay archivos JSON nuevos en este push.',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "f8a05195-80aa-4b45-9240-1973c9958cc6",
      "name": "Sin nuevos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        224
      ]
    },
    {
      "parameters": {
        "options": {},
        "content": "## 🆕 Workflow creado\n\nNombre: {{ $node['Extraer ID'].json.nuevo_name || 'desconocido' }}\nID: `{{ $node['Extraer ID'].json.nuevo_id }}`\n\nJSON en GitHub actualizado con el ID real."
      },
      "id": "1a16f7c1-c5fe-45a4-9a5e-b70d2dcdd552",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1950,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e150b7c-2067-4144-96ef-4ae6bc27aa36",
              "leftValue": "={{ $json.procesar }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        32
      ],
      "id": "bb7dbc05-81d8-4d6d-8cca-acd3e762f1ff",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const wf = $input.first().json;\nconst id = wf.id || 'sin-id';\nreturn { ...$json, nuevo_id: id, log: `ID: ${id}` };"
      },
      "id": "extraer-id",
      "name": "Extraer ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/contents/' + encodeURIComponent($node['Filtrar nuevos'].json.archivo) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.githubPayload) }}",
        "options": {}
      },
      "id": "actualizar-id-http",
      "name": "Actualizar ID en GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1750,
        0
      ],
      "credentials": {
        "githubApi": {
          "id": "4FiLSMPTKoxvHLNE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/contents/' + encodeURIComponent($node['Filtrar nuevos'].json.archivo) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi"
      },
      "id": "get-file-from-github",
      "name": "Get File from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        800,
        0
      ],
      "credentials": {
        "githubApi": {
          "id": "4FiLSMPTKoxvHLNE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst base64Content = $input.first().json.content;\nconst sha = $input.first().json.sha;\n\n// Base64 decode\nconst buff = Buffer.from(base64Content, 'base64');\nconst jsonStr = buff.toString('utf8');\nconst wfObj = JSON.parse(jsonStr);\n\n// Keep sha in the item for later use\nreturn {\n  ...wfObj,\n  _github_sha: sha\n};\n"
      },
      "id": "parse-workflow",
      "name": "Parse Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst wfObj = JSON.parse(JSON.stringify($node['Parse Workflow'].json));\nconst sha = wfObj._github_sha;\ndelete wfObj._github_sha;\n\nconst nuevo_id = $node['Extraer ID'].json.nuevo_id;\nwfObj.id = nuevo_id;\n\nconst contentStr = JSON.stringify(wfObj, null, 2);\nconst contentBase64 = Buffer.from(contentStr).toString('base64');\n\nreturn {\n  githubPayload: {\n    message: 'fix: asigna ID real ' + nuevo_id,\n    sha: sha,\n    content: contentBase64\n  }\n};\n"
      },
      "id": "prepare-payload",
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        0
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "p8086.crisdev.online",
            "user-agent": "GitHub-Hookshot/7621ddc",
            "content-length": "8599",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "140.82.115.89",
            "cf-ipcountry": "US",
            "cf-ray": "a12f0fd6e92105ec-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "1a5d64bd-5da8-4a84-91d8-9973196fc2a7",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-forwarded-for": "140.82.115.89",
            "x-forwarded-proto": "https",
            "x-github-delivery": "bc5d21f6-7326-11f1-9b1f-6150e938f973",
            "x-github-event": "push",
            "x-github-hook-id": "647385932",
            "x-github-hook-installation-target-id": "1282935813",
            "x-github-hook-installation-target-type": "repository"
          },
          "params": {},
          "query": {},
          "body": {
            "ref": "refs/heads/main",
            "before": "47166a9085ba8baab520a39b6fffcac429c4b9ed",
            "after": "15648214ffbd8bea5c4702ecd2d714730b27a151",
            "repository": {
              "id": 1282935813,
              "node_id": "R_kgDOTHgMBQ",
              "name": "workflows_crisdev",
              "full_name": "cristianDev-cmd/workflows_crisdev",
              "private": false,
              "owner": {
                "name": "cristianDev-cmd",
                "email": "alc.cris.dev@gmail.com",
                "login": "cristianDev-cmd",
                "id": 265125736,
                "node_id": "U_kgDOD81_aA",
                "avatar_url": "https://avatars.githubusercontent.com/u/265125736?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/cristianDev-cmd",
                "html_url": "https://github.com/cristianDev-cmd",
                "followers_url": "https://api.github.com/users/cristianDev-cmd/followers",
                "following_url": "https://api.github.com/users/cristianDev-cmd/following{/other_user}",
                "gists_url": "https://api.github.com/users/cristianDev-cmd/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/cristianDev-cmd/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/cristianDev-cmd/subscriptions",
                "organizations_url": "https://api.github.com/users/cristianDev-cmd/orgs",
                "repos_url": "https://api.github.com/users/cristianDev-cmd/repos",
                "events_url": "https://api.github.com/users/cristianDev-cmd/events{/privacy}",
                "received_events_url": "https://api.github.com/users/cristianDev-cmd/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "html_url": "https://github.com/cristianDev-cmd/workflows_crisdev",
              "description": "Repositorio de workflows de N8N de crisdev.online",
              "fork": false,
              "url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev",
              "forks_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/forks",
              "keys_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/keys{/key_id}",
              "collaborators_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/collaborators{/collaborator}",
              "teams_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/teams",
              "hooks_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/hooks",
              "issue_events_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/issues/events{/number}",
              "events_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/events",
              "assignees_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/assignees{/user}",
              "branches_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/branches{/branch}",
              "tags_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/tags",
              "blobs_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/blobs{/sha}",
              "git_tags_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/tags{/sha}",
              "git_refs_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/refs{/sha}",
              "trees_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/trees{/sha}",
              "statuses_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/statuses/{sha}",
              "languages_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/languages",
              "stargazers_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/stargazers",
              "contributors_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/contributors",
              "subscribers_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/subscribers",
              "subscription_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/subscription",
              "commits_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/commits{/sha}",
              "git_commits_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/commits{/sha}",
              "comments_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/comments{/number}",
              "issue_comment_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/issues/comments{/number}",
              "contents_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/contents/{+path}",
              "compare_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/compare/{base}...{head}",
              "merges_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/merges",
              "archive_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/{archive_format}{/ref}",
              "downloads_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/downloads",
              "issues_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/issues{/number}",
              "pulls_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/pulls{/number}",
              "milestones_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/milestones{/number}",
              "notifications_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/notifications{?since,all,participating}",
              "labels_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/labels{/name}",
              "releases_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/releases{/id}",
              "deployments_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/deployments",
              "created_at": 1782645343,
              "updated_at": "2026-06-28T19:22:34Z",
              "pushed_at": 1782674562,
              "git_url": "git://github.com/cristianDev-cmd/workflows_crisdev.git",
              "ssh_url": "git@github.com:cristianDev-cmd/workflows_crisdev.git",
              "clone_url": "https://github.com/cristianDev-cmd/workflows_crisdev.git",
              "svn_url": "https://github.com/cristianDev-cmd/workflows_crisdev",
              "homepage": null,
              "size": 15,
              "stargazers_count": 0,
              "watchers_count": 0,
              "language": null,
              "has_issues": true,
              "has_projects": true,
              "has_downloads": true,
              "has_wiki": false,
              "has_pages": false,
              "has_discussions": false,
              "forks_count": 0,
              "mirror_url": null,
              "archived": false,
              "disabled": false,
              "open_issues_count": 0,
              "license": null,
              "allow_forking": true,
              "is_template": false,
              "web_commit_signoff_required": false,
              "has_pull_requests": true,
              "pull_request_creation_policy": "all",
              "topics": [],
              "visibility": "public",
              "forks": 0,
              "open_issues": 0,
              "watchers": 0,
              "default_branch": "main",
              "stargazers": 0,
              "master_branch": "main"
            },
            "pusher": {
              "name": "cristianDev-cmd",
              "email": "alc.cris.dev@gmail.com"
            },
            "forced": false,
            "sender": {
              "login": "cristianDev-cmd",
              "id": 265125736,
              "node_id": "U_kgDOD81_aA",
              "avatar_url": "https://avatars.githubusercontent.com/u/265125736?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/cristianDev-cmd",
              "html_url": "https://github.com/cristianDev-cmd",
              "followers_url": "https://api.github.com/users/cristianDev-cmd/followers",
              "following_url": "https://api.github.com/users/cristianDev-cmd/following{/other_user}",
              "gists_url": "https://api.github.com/users/cristianDev-cmd/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/cristianDev-cmd/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/cristianDev-cmd/subscriptions",
              "organizations_url": "https://api.github.com/users/cristianDev-cmd/orgs",
              "repos_url": "https://api.github.com/users/cristianDev-cmd/repos",
              "events_url": "https://api.github.com/users/cristianDev-cmd/events{/privacy}",
              "received_events_url": "https://api.github.com/users/cristianDev-cmd/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            },
            "created": false,
            "deleted": false,
            "base_ref": null,
            "compare": "https://github.com/cristianDev-cmd/workflows_crisdev/compare/47166a9085ba...15648214ffbd",
            "commits": [
              {
                "id": "15648214ffbd8bea5c4702ecd2d714730b27a151",
                "tree_id": "34268ab7dfa5c98c3d3886e444b3c45e9645ead6",
                "distinct": true,
                "message": "feat: recrea Escuchador de github",
                "timestamp": "2026-06-28T16:22:38-03:00",
                "url": "https://github.com/cristianDev-cmd/workflows_crisdev/commit/15648214ffbd8bea5c4702ecd2d714730b27a151",
                "author": {
                  "name": "Cristian Alcantara",
                  "email": "cristianDev-cmd@users.noreply.github.com",
                  "date": "2026-06-28T16:22:38-03:00",
                  "username": "cristianDev-cmd"
                },
                "committer": {
                  "name": "Cristian Alcantara",
                  "email": "cristianDev-cmd@users.noreply.github.com",
                  "date": "2026-06-28T16:22:38-03:00",
                  "username": "cristianDev-cmd"
                },
                "added": [
                  "Escuchador de github.json"
                ],
                "removed": [],
                "modified": []
              }
            ],
            "head_commit": {
              "id": "15648214ffbd8bea5c4702ecd2d714730b27a151",
              "tree_id": "34268ab7dfa5c98c3d3886e444b3c45e9645ead6",
              "distinct": true,
              "message": "feat: recrea Escuchador de github",
              "timestamp": "2026-06-28T16:22:38-03:00",
              "url": "https://github.com/cristianDev-cmd/workflows_crisdev/commit/15648214ffbd8bea5c4702ecd2d714730b27a151",
              "author": {
                "name": "Cristian Alcantara",
                "email": "cristianDev-cmd@users.noreply.github.com",
                "date": "2026-06-28T16:22:38-03:00",
                "username": "cristianDev-cmd"
              },
              "committer": {
                "name": "Cristian Alcantara",
                "email": "cristianDev-cmd@users.noreply.github.com",
                "date": "2026-06-28T16:22:38-03:00",
                "username": "cristianDev-cmd"
              },
              "added": [
                "Escuchador de github.json"
              ],
              "removed": [],
              "modified": []
            }
          },
          "webhookUrl": "https://p8086.crisdev.online/webhook/crear-workflow",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtrar nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar nuevos": {
      "main": [
        [
          {
            "node": "Get File from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear workflow": {
      "main": [
        [
          {
            "node": "Extraer ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sin nuevos": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer ID": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar ID en GitHub": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Actualizar ID en GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File from GitHub": {
      "main": [
        [
          {
            "node": "Parse Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Workflow": {
      "main": [
        [
          {
            "node": "Crear workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4a9ab0ad-5e63-47fa-9ca3-134fb5e8d5d5",
  "meta": {
    "instanceId": "5bdfb1904abb29d033398c291e21acd0dd5d174d225213ee5d966130bc044c53"
  },
  "nodeGroups": [],
  "id": "rYUtPKWjmPsoIBWT",
  "tags": []
}