desactivador.json
{
  "name": "Desactivador",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "desactivar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-desactivar",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "desactivar",
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst id = body.workflowId || body.id;\nif (!id) throw new Error('Falta workflowId');\nreturn { workflowId: id, log: `Desactivando: ${id}` };"
      },
      "id": "validar-desactivar",
      "name": "Validar ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "deactivate",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.workflowId }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "desactivar-wf",
      "name": "Desactivar workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "n8nApi": {
          "id": "meI5aPZ2i7ntOQqN",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔴 Desactivado\n\nWorkflow `{{ $json.workflowId }}` desactivado.",
        "height": 150
      },
      "id": "responder-desactivar",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar ID": {
      "main": [
        [
          {
            "node": "Desactivar workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desactivar workflow": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [],
  "versionId": "1",
  "id": "desactivador-placeholder"
}