Escuchador de github.json
{
  "name": "Escuchador de github",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7245dc71-8278-423f-beab-f64eefaaa03a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "7b074c8a-9b27-41c4-a5c3-abf76de96e40",
      "name": "Webhook",
      "webhookId": "7245dc71-8278-423f-beab-f64eefaaa03a"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "cristianDev-cmd"
        },
        "repository": {
          "__rl": true,
          "value": "workflows_crisdev",
          "mode": "list",
          "cachedResultName": "workflows_crisdev",
          "cachedResultUrl": "https://github.com/cristianDev-cmd/workflows_crisdev"
        },
        "filePath": "={{ \n(() => {\n  const commit = $node[\"Webhook\"].json.body?.head_commit || {};\n  const archivos = [...(commit.modified || []), ...(commit.added || [])];\n  return archivos.find(f => f.endsWith('.json')) || 'ninguno.json';\n})() \n}}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "dc4f1ac2-62c5-466d-9318-c7c514a9d978",
      "name": "Get a file",
      "webhookId": "fe1e1b54-04da-4ec5-8496-2a30fa327154",
      "credentials": {
        "githubApi": {
          "id": "4FiLSMPTKoxvHLNE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet rawContent = input.content;\n// Si viene base64\nif (input.encoding === 'base64' && !rawContent && input.raw) {\n  rawContent = Buffer.from(input.raw, 'base64').toString();\n}\nif (!rawContent) {\n  console.log('Keys:', Object.keys(input));\n  console.log('Preview:', JSON.stringify(input).substring(0,300));\n  throw new Error(`Sin contenido. Keys: ${Object.keys(input).join(', ')}`);\n}\nconst json_workflow = JSON.parse(rawContent);\nreturn { json_workflow, log: `OK: ${json_workflow.name}` };"
      },
      "id": "b4a1af6c-6d27-463e-bfd9-24e05ee773d9",
      "name": "Parsear JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const wf = $json.json_workflow;\nconsole.log(`Actualizando: ${wf.name} (${wf.id})`);\nreturn { json_workflow: wf, log: `OK: ${wf.name}` };"
      },
      "id": "log-node",
      "name": "Log workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const commit = $node['Webhook'].json.body?.head_commit;\nconst archivos = commit?.modified?.join(', ') || 'ninguno';\nconst autor = commit?.author?.name || 'desconocido';\nconst msg = commit?.message || 'sin mensaje';\n\nreturn {\n  json_workflow: $json.json_workflow,\n  commit_sha: commit?.id?.substring(0,7),\n  commit_autor: autor,\n  commit_msg: msg,\n  archivos,\n  log: $json.log + ` | Commit ${commit?.id?.substring(0,7)} por ${autor}`\n};"
      },
      "id": "info-commit",
      "name": "Info del commit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.json_workflow.id }}",
          "mode": "id"
        },
        "workflowObject": "={{ \n(() => {\n  const workflow = JSON.parse(JSON.stringify($json.json_workflow));\n  workflow.active = true;\n  \n  if (workflow.settings) {\n    const allowedSettings = {};\n    if (workflow.settings.executionTimeout !== undefined) allowedSettings.executionTimeout = workflow.settings.executionTimeout;\n    if (workflow.settings.errorWorkflow !== undefined) allowedSettings.errorWorkflow = workflow.settings.errorWorkflow;\n    if (workflow.settings.timezone !== undefined) allowedSettings.timezone = workflow.settings.timezone;\n    if (workflow.settings.saveExecutionProgress !== undefined) allowedSettings.saveExecutionProgress = workflow.settings.saveExecutionProgress;\n    workflow.settings = allowedSettings;\n  }\n\n  return JSON.stringify(workflow);\n})() \n}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        728,
        0
      ],
      "id": "028ad1d4-7f11-487b-9f3e-760f0cce87a3",
      "name": "Update a workflow",
      "credentials": {
        "n8nApi": {
          "id": "meI5aPZ2i7ntOQqN",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🟢 Workflow actualizado\n\n{{ $json.log }}",
        "height": 150
      },
      "id": "responder-github",
      "name": "Responder a GitHub",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        936,
        0
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "p8086.crisdev.online",
            "user-agent": "GitHub-Hookshot/7621ddc",
            "content-length": "8600",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "140.82.115.108",
            "cf-ipcountry": "US",
            "cf-ray": "a12d67ba0b0582b6-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "1a5d64bd-5da8-4a84-91d8-9973196fc2a7",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-forwarded-for": "140.82.115.108",
            "x-forwarded-proto": "https",
            "x-github-delivery": "4a112340-72fe-11f1-8723-b4745b980432",
            "x-github-event": "push",
            "x-github-hook-id": "647300144",
            "x-github-hook-installation-target-id": "1282935813",
            "x-github-hook-installation-target-type": "repository"
          },
          "params": {},
          "query": {},
          "body": {
            "ref": "refs/heads/main",
            "before": "6e438581d74907fc9264b94b9ccc07d2ae690adb",
            "after": "d5f9df49ca30019ab309d8bf59254a134e7e6f82",
            "repository": {
              "id": 1282935813,
              "node_id": "R_kgDOTHgMBQ",
              "name": "workflows_crisdev",
              "full_name": "cristianDev-cmd/workflows_crisdev",
              "private": false,
              "owner": {
                "name": "cristianDev-cmd",
                "email": "alc.cris.dev@gmail.com",
                "login": "cristianDev-cmd",
                "id": 265125736,
                "node_id": "U_kgDOD81_aA",
                "avatar_url": "https://avatars.githubusercontent.com/u/265125736?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/cristianDev-cmd",
                "html_url": "https://github.com/cristianDev-cmd",
                "followers_url": "https://api.github.com/users/cristianDev-cmd/followers",
                "following_url": "https://api.github.com/users/cristianDev-cmd/following{/other_user}",
                "gists_url": "https://api.github.com/users/cristianDev-cmd/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/cristianDev-cmd/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/cristianDev-cmd/subscriptions",
                "organizations_url": "https://api.github.com/users/cristianDev-cmd/orgs",
                "repos_url": "https://api.github.com/users/cristianDev-cmd/repos",
                "events_url": "https://api.github.com/users/cristianDev-cmd/events{/privacy}",
                "received_events_url": "https://api.github.com/users/cristianDev-cmd/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "html_url": "https://github.com/cristianDev-cmd/workflows_crisdev",
              "description": "Repositorio de workflows de N8N de crisdev.online",
              "fork": false,
              "url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev",
              "forks_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/forks",
              "keys_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/keys{/key_id}",
              "collaborators_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/collaborators{/collaborator}",
              "teams_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/teams",
              "hooks_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/hooks",
              "issue_events_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/issues/events{/number}",
              "events_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/events",
              "assignees_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/assignees{/user}",
              "branches_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/branches{/branch}",
              "tags_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/tags",
              "blobs_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/blobs{/sha}",
              "git_tags_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/tags{/sha}",
              "git_refs_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/refs{/sha}",
              "trees_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/trees{/sha}",
              "statuses_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/statuses/{sha}",
              "languages_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/languages",
              "stargazers_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/stargazers",
              "contributors_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/contributors",
              "subscribers_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/subscribers",
              "subscription_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/subscription",
              "commits_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/commits{/sha}",
              "git_commits_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/git/commits{/sha}",
              "comments_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/comments{/number}",
              "issue_comment_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/issues/comments{/number}",
              "contents_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/contents/{+path}",
              "compare_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/compare/{base}...{head}",
              "merges_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/merges",
              "archive_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/{archive_format}{/ref}",
              "downloads_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/downloads",
              "issues_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/issues{/number}",
              "pulls_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/pulls{/number}",
              "milestones_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/milestones{/number}",
              "notifications_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/notifications{?since,all,participating}",
              "labels_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/labels{/name}",
              "releases_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/releases{/id}",
              "deployments_url": "https://api.github.com/repos/cristianDev-cmd/workflows_crisdev/deployments",
              "created_at": 1782645343,
              "updated_at": "2026-06-28T14:28:17Z",
              "pushed_at": 1782657191,
              "git_url": "git://github.com/cristianDev-cmd/workflows_crisdev.git",
              "ssh_url": "git@github.com:cristianDev-cmd/workflows_crisdev.git",
              "clone_url": "https://github.com/cristianDev-cmd/workflows_crisdev.git",
              "svn_url": "https://github.com/cristianDev-cmd/workflows_crisdev",
              "homepage": null,
              "size": 0,
              "stargazers_count": 0,
              "watchers_count": 0,
              "language": null,
              "has_issues": true,
              "has_projects": true,
              "has_downloads": true,
              "has_wiki": false,
              "has_pages": false,
              "has_discussions": false,
              "forks_count": 0,
              "mirror_url": null,
              "archived": false,
              "disabled": false,
              "open_issues_count": 0,
              "license": null,
              "allow_forking": true,
              "is_template": false,
              "web_commit_signoff_required": false,
              "has_pull_requests": true,
              "pull_request_creation_policy": "all",
              "topics": [],
              "visibility": "public",
              "forks": 0,
              "open_issues": 0,
              "watchers": 0,
              "default_branch": "main",
              "stargazers": 0,
              "master_branch": "main"
            },
            "pusher": {
              "name": "cristianDev-cmd",
              "email": "alc.cris.dev@gmail.com"
            },
            "forced": false,
            "sender": {
              "login": "cristianDev-cmd",
              "id": 265125736,
              "node_id": "U_kgDOD81_aA",
              "avatar_url": "https://avatars.githubusercontent.com/u/265125736?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/cristianDev-cmd",
              "html_url": "https://github.com/cristianDev-cmd",
              "followers_url": "https://api.github.com/users/cristianDev-cmd/followers",
              "following_url": "https://api.github.com/users/cristianDev-cmd/following{/other_user}",
              "gists_url": "https://api.github.com/users/cristianDev-cmd/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/cristianDev-cmd/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/cristianDev-cmd/subscriptions",
              "organizations_url": "https://api.github.com/users/cristianDev-cmd/orgs",
              "repos_url": "https://api.github.com/users/cristianDev-cmd/repos",
              "events_url": "https://api.github.com/users/cristianDev-cmd/events{/privacy}",
              "received_events_url": "https://api.github.com/users/cristianDev-cmd/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            },
            "created": false,
            "deleted": false,
            "base_ref": null,
            "compare": "https://github.com/cristianDev-cmd/workflows_crisdev/compare/6e438581d749...d5f9df49ca30",
            "commits": [
              {
                "id": "d5f9df49ca30019ab309d8bf59254a134e7e6f82",
                "tree_id": "d2f438e35825d46093b91c8781536b246abfbbfb",
                "distinct": true,
                "message": "feat: agrega nodo Set para validar pipeline",
                "timestamp": "2026-06-28T11:33:06-03:00",
                "url": "https://github.com/cristianDev-cmd/workflows_crisdev/commit/d5f9df49ca30019ab309d8bf59254a134e7e6f82",
                "author": {
                  "name": "Cristian Alcantara",
                  "email": "cristianDev-cmd@users.noreply.github.com",
                  "date": "2026-06-28T11:33:06-03:00",
                  "username": "cristianDev-cmd"
                },
                "committer": {
                  "name": "Cristian Alcantara",
                  "email": "cristianDev-cmd@users.noreply.github.com",
                  "date": "2026-06-28T11:33:06-03:00",
                  "username": "cristianDev-cmd"
                },
                "added": [],
                "removed": [],
                "modified": [
                  "chat-simple.json"
                ]
              }
            ],
            "head_commit": {
              "id": "d5f9df49ca30019ab309d8bf59254a134e7e6f82",
              "tree_id": "d2f438e35825d46093b91c8781536b246abfbbfb",
              "distinct": true,
              "message": "feat: agrega nodo Set para validar pipeline",
              "timestamp": "2026-06-28T11:33:06-03:00",
              "url": "https://github.com/cristianDev-cmd/workflows_crisdev/commit/d5f9df49ca30019ab309d8bf59254a134e7e6f82",
              "author": {
                "name": "Cristian Alcantara",
                "email": "cristianDev-cmd@users.noreply.github.com",
                "date": "2026-06-28T11:33:06-03:00",
                "username": "cristianDev-cmd"
              },
              "committer": {
                "name": "Cristian Alcantara",
                "email": "cristianDev-cmd@users.noreply.github.com",
                "date": "2026-06-28T11:33:06-03:00",
                "username": "cristianDev-cmd"
              },
              "added": [],
              "removed": [],
              "modified": [
                "chat-simple.json"
              ]
            }
          },
          "webhookUrl": "https://p8086.crisdev.online/webhook/7245dc71-8278-423f-beab-f64eefaaa03a",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Parsear JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log workflow": {
      "main": [
        [
          {
            "node": "Info del commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info del commit": {
      "main": [
        [
          {
            "node": "Update a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear JSON": {
      "main": [
        [
          {
            "node": "Log workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a workflow": {
      "main": [
        [
          {
            "node": "Responder a GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c84ed0ae-512b-4398-8998-493a69e9ac65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5bdfb1904abb29d033398c291e21acd0dd5d174d225213ee5d966130bc044c53"
  },
  "nodeGroups": [],
  "id": "9vXcIWeoEwYIytfA",
  "tags": []
}